.photoPrev{
	margin:1em;
	display:inline-block;
	overflow:auto;
	text-align:center;
}

.photoPrev img{
	width:150px;
}

.table-row{
	display:table-row;
}
.table-cell{
	display:table-cell;
	padding:0.3em;
	vertical-align:top;
}
a{
	color:#2874A6;
	text-decoration:none;
}
a:hover{
	color:#6C3483;
}