<h1>{{pageTitle}}</h1>

<h2>Favorite Photos</h2>
<div *ngIf='favoritePhotos && favoritePhotos.length'>
	<div *ngFor='let favPhoto of favoritePhotos' class='photoPrev'>
		<a [routerLink]="['/photo', favPhoto.id]"><img	[src]='favPhoto.url' 
				[title]='favPhoto.name'
				/></a><br>
		<div class="table-row">
			<div class="table-cell">
				<a [routerLink]="['/photo', favPhoto.id]"><b>{{favPhoto.name}}</b></a><br/>
				<app-star [rating]='favPhoto.p_rating' (ratingClicked)='updateRating($event)'></app-star>
			</div>
			<span class="table-cell">
				<app-heart [favorite]='favPhoto.favorite' (favoriteClicked)='updateFav($event, favPhoto)'></app-heart>
			</span>
	</div>
</div>



<h2>All Photos</h2>
<div *ngIf='photos && photos.length'>
	<div *ngFor='let photo of photos' class='photoPrev'>
		<a [routerLink]="['/photo', photo.id]"><img [src]='photo.url' 
			 [title]='photo.name'/></a><br>

		<div class="table-row">
			<div class="table-cell">
				<a [routerLink]="['/photo', photo.id]"><b>{{photo.name}}</b></a><br/>
				<app-star [rating]='photo.p_rating'></app-star>
			</div>
			<span class="table-cell">
				<app-heart [favorite]='photo.favorite' (favoriteClicked)='updateFav($event, photo)'></app-heart>
			</span>
		</div>

	</div>
</div>

