<h1>{{pageTitle}}</h1>

<!--
<h3>Show Photos</h3>
<label>Favorites:</label> <input type="radio" name="photoType" [(ngModel)]='photoType' value="Favorite">
<label>All:</label> <input type="radio" [(ngModel)]='photoType' name="photoType" value="All">

<h2>Showing {{photoType}} Photos</h2>
-->

<h2>Favorite Photos</h2>
<div *ngIf='favoritePhotos && favoritePhotos.length'>
	<div *ngFor='let favPhoto of favoritePhotos' class='photoPrev'>
		<b>id:</b> {{favPhoto.id}} <br>
		<b>name:</b> {{favPhoto.name}} <br>
		<img	[src]='favPhoto.url' 
				[title]='favPhoto.name'
				/><br>
		<b>rating:</b> {{favPhoto.rating}} <br>
	</div>
</div>


<h2>All Photos</h2>
<div *ngIf='photos && photos.length'>
	<div *ngFor='let photo of photos' class='photoPrev'>
		<img [src]='photo.url' 
			 [title]='photo.name'/><br>

		<div class="table-row">
			<div class="table-cell">
				<b>{{photo.name}}</b><br/>
				<app-star [rating]='photo.rating'></app-star>
			</div>
			<span class="table-cell">
				<i class="fa fa-heart" aria-hidden="true" *ngIf='photo.favorite'></i>
				<i class="fa fa-heart-o" aria-hidden="true" *ngIf='!photo.favorite'></i>
			</span>
		</div>

	</div>
</div>

