/* You can add global styles to this file, and also import other style files */
body {
	height: auto;
	min-height: 100%;
	margin: 0;
	font-family:arial;
	color:#17202A;
}

#wrapper {
	width: 100%;
	height: 100%;
}



#main-content {
	margin-left: 15em;
	padding:1em;
}